html, body {
height: 100%;
}

body {
display: flex;
flex-direction: column;
background: #F9F7EE;
color: #333333;
line-height: 1.6;
margin: 0;
padding: 0;
}

/* =====================
ESTILOS GERAIS
===================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  }

/* =====================
CABEÇALHO
===================== */

header {
background: #4E8A63;
color: #FFF;
display: flex;
justify-content: space-between;
align-items: center;
padding: 1em;
}

header .logo {
font-size: 1.2em;
font-weight: bold;
}

header nav a {
margin: 0 1em;
color: #FFF;
text-decoration: none;
font-weight: 500;
}

header nav .btn {
background: #A7D8A0;
color: #333;
padding: 0.4em 0.8em;
border-radius: 5px;
}

/* Botão Mobile */
.menu-btn {
display: none;
background: none;
border: none;
color: white;
font-size: 1.5em;
}

/* =====================
HERO
===================== */

.hero {
padding: 4em 1em;
text-align: center;
background: #A7D8A0;
color: #333333;
}

/* =====================
BENEFÍCIOS
===================== */

.beneficios {
max-width: 1200px;
margin: auto;
padding: 3em 1em;
text-align: center;
}

.cards {
display: flex;
gap: 2em;
margin-top: 2em;
flex-wrap: wrap;
justify-content: center;
}

.card {
background: white;
width: 340px;
padding: 2em;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.12);
border-left: 6px solid #4E8A63;
}

.card h3 {
color: #4E8A63;
}

/* =====================
RODAPÉ
===================== */

footer {
background: #4E8A63;
color: white;
padd
