html, body {
height: 100%;
}

body {
display: flex;
flex-direction: column;
background: #F9F7EE;
color: #333333;
line-height: 1.6;
margin: 0;
padding: 0;
}

/* =====================
GERAL
===================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  }

/* =====================
CABEÇALHO
===================== */
header {
background: #4E8A63;
color: #FFF;
display: flex;
justify-content: space-between;
align-items: center;
padding: 1em;
}

header .logo {
font-size: 1.2em;
font-weight: bold;
}

/* Menu buttons*/
header nav a {
margin: 0 0.8em;
padding: 0.45em 1em;
color: #FFF;
text-decoration: none;
font-weight: 500;
border: 2px solid #A7D8A0;
border-radius: 6px;
transition: 0.3s;
}

header nav a:hover {
background: #A7D8A0;
color: #333;
}

/* Mobile menu button */
.menu-btn {
display: none;
background: none;
border: none;
color: white;
font-size: 1.5em;
}

/* =====================
HERO
===================== */
.hero {
padding: 4em 1em;
text-align: center;
background: #A7D8A0;
color: #333333;
}

/* =====================
IMAGENS BANNER
===================== */
.imagens-banner {
display: flex;
justify-content: center;
gap: 2em;
padding: 2em 1em;
flex-wrap: wrap;
}

.imagens-banner img {
width: 45%;
max-width: 500px;
border-radius: 10px;
box-shadow: 0 0 8px rgba(0,0,0,0.12);
}

/* =====================
BENEFÍCIOS
===================== */
.beneficios {
max-width: 1200px;
margin: auto;
padding: 3em 1em;
text-align: center;
}

.cards {
display: flex;
gap: 2em;
margin-top: 2em;
flex-wrap: wrap;
justify-content: center;
}

.card {
background: white;
width: 340px;
padding: 2em;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.12);
border-left: 6px solid #4E8A63;
}

.card h3 {
color: #4E8A63;
}

/* =====================
RODAPÉ
===================== */
footer {
background: #4E8A63;
color: white;
padding: 1em;
text-align: center;
margin-top: auto;
}

/* =====================
MOBILE
===================== */
@media(max-width: 768px){
nav { display: none; }
.menu-btn { display: block; }
nav.open { display: block; }

.imagens-banner img {
width: 90%;
}
}
